<div class="container" ng-controller="courseController">
    <h2 class="mt-5">
        Courses
        <button type="button" class="btn btn-warning float-end" aria-label="Add subject" data-bs-toggle="modal" data-bs-target="#Add">
            <i class="fas fa-plus"></i>
        </button>
    </h2>

    <div class="alert alert-danger" ng-show="msgError.length > 0">
        {{msgError}}
    </div>

    <div class="mt-4 table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Teachers</th>
                    <th>Number of Students</th>
                    <th>Average Grade</th>
                    <th class="actionColumn"></th>
                </tr>
            </thead>
            <tr ng-repeat="o in objData | orderBy:'Name'">
                <td>{{o.courseName}}</td>
                <td>{{o.teachersCount }}</td>
                <td> {{o.studentsCount }}</td>
                <td>{{o.gradeAvg}}</td>
                <td>
                    <button data-bs-toggle="modal" data-bs-target="#Edit" class="btn btn-outline-success" ng-click="editId(o)"> <span><i class="fas fa-edit"></i></span></button>
                    <button data-bs-toggle="modal" data-bs-target="#Delete" class="btn btn-outline-danger" ng-click="deleteId(o)"><span><i class="far fa-trash-alt"></i></span></button>
                </td>
            </tr>
        </table>

    </div>


    <!-- modal for adding new course -->
    <div class="modal" id="Add" role="dialog" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-dark text-light text-center">
                    <h3 class="modal-title w-100">Add Course</h3>
                </div>
                <div class="modal-body text-start">
                    <form name="newForm" novalidate>
                        <input type="hidden" ng-model="objModel.CourseId" />
                        <div class="form-group mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input class="form-control" type="text" name="Name" id="name" ng-model="objModel.CourseName" placeholder="course name" required />
                            <span ng-show="newForm.Name.$invalid && newForm.Name.$touched" style="color:red" class="help-block">Name is required.</span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="btnAdd" data-bs-dismiss="modal" ng-disabled="newForm.$invalid" ng-click="Save()">Add</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" ng-click="Cancel()">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- modal for editing course -->
    <div class="modal" id="Edit" role="dialog" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-dark text-light text-center">
                    <h3 class="modal-title w-100">Edit Course</h3>
                </div>
                <div class="modal-body text-start">
                    <form name="editForm" novalidate>
                        <input type="hidden" ng-model="objModel.Id" />
                        <div class="form-group mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input class="form-control" type="text" name="Name" id="name" ng-model="objModel.Name" placeholder="course name" required />
                            <span ng-show="editForm.Name.$invalid && newForm.Name.$touched" style="color:red" class="help-block">Name is required.</span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="btnAdd" data-bs-dismiss="modal" ng-disabled="editForm.$invalid" ng-click="edit()">Save</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" ng-click="Cancel()">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- modal for deleting subject -->
    <div class="modal" role="dialog" id="Delete" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 class="modal-title w-100">Are you sure you want to delete "{{objModel.Name}}"?</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="btnAdd" data-bs-dismiss="modal" ng-click="delete(objModel.Id)">Delete</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" ng-click="Cancel()">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
