*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    background-color: whitesmoke;
}

li {
    text-decoration: none;
    list-style: none;
}

.content{
    margin-top: 6rem;
}
