<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Magni College</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/all.min.css" />
    <link href="~/css/fontawesome.min.css" />
</head>

<body class="text-center" ng-app="app">
    <nav class="navbar navbar-expand-md navbar-light bg-light shadow">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">MagniCollege</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/courses">Courses</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/teachers">Teachers</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/subjects">Subjects</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/students">Students</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="">
        <div class="container">

            @RenderBody()

        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">&copy; @DateTime.Now.Year - Magni Finance</span>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/all.min.js"></script>
    <script src="~/js/fontawesome.min.js"></script>
    <script src="~/lib/angular.js/angular.js"></script>


    <script src="/js/app/app.js"></script>
    <script src="/js/app/Services/baseService.js"></script>
    <script src="/js/app/Services/enrollmentService.js"></script>

    <script src="/js/app/Controllers/subjectController.js"></script>
    <script src="/js/app/Controllers/studentController.js"></script>
    <script src="/js/app/Controllers/teacherController.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
